@import 'https://fonts.googleapis.com/css?family=Alegreya+Sans';
*{
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: #f5f5f5;
	color: #87727A;
	font-family: 'Alegreya'
}
h2{
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%: 
}
h3
{
	font-size: 175%;
	line-height: 15%;
	padding:5% 0;
	font-weight: 400;
}
p
{	
		font-family: 'Alegreya Sans', Sans-serif;
		color:#f5f5f5;
	font-size: 160%;
	line-height: 150%;
	padding: 5%;
}
header{
	width: 100%;
}

#header-inner{

	max-width: 1200px;
	margin: 0 auto;
}

#logo
{
	margin: 20px;
	float: left;
	width: 200px;
	height: 60px;
	background: url(../img/logo.svg) no-repeat center;
}
/*--- start navigation --*/
nav{
	float: right;
	padding: 25px 20px 0 0;
}
#menu-icon{
	display: hidden;
	width: 40px;
	height: 40px;
	background: url(img/drop.png) center;
}
a:hover#menu-icon{
	border-radius: 2px 2px 0 0;
}
ul{
	list-style-type: none;
}
nav ul li{
	font-family: 'Alegreya Sans', Sans-serif;
	font-size: 150%;
	display: inline-block;
	float: left;
	padding: 4px;
	
}
nav ul li a {
	color: #87837F;
	text-decoration: none;
}
nav ul li a:hover{
	color: #FE6A08;
}
.current {
	color: #E3FD7E;
}
/*--- end of navigatino --*/
.banner{
	width: 100%;
		background-color: #000;
}
.banner-inner{
	max-width: 1100px;
}
#img1{
	max-width:100%;
}
#img{
	max-width:100%;
}
.one-fourth {
	width: 25%;
	float: left;
	text-align: center;
}

/*-- end of one-fourth section --*/

#cars
{
	background-color: #f1aa90;
}
#bike
{
	background-color: #BEB9BD;
}
#train
{
	background-color: #aba888;
}
#bicycle
{
	background-color: #aadcd2;
}
.inner-wrapper{
	float: left;
	width: 100%;
	background-color: #c3d7df;
}
article {
	float: left;
	margin: 0 auto;
	width: 50%;
}
#car{
	background-color: #c3d7df;
}
aside{
	float: right;
	margin:0 auto;
	width: 50%;
	height: auto;
}
#car2{
	background-color: #a2b2c1;
}
#bi{
	background-color: #a2b2c1;
}

.inner-wrapper-3{
	float: left;
	width: 100%;
	background-color: #aadcd2;
}
.one-third{
	width: 33.33333%;
	float: left;
	text-align: center;
}
#lambo{
	background-color: #a2b2c1
}
#ducati{
	background-color: #BEB9aD;
}
#yobi{
	background-color: #aadcd2
}

/*--- start footer --*/
footer{
	background-color: #6991ac;
	width: 100%
}
.social {
	list-style-type: none;
	text-align: center;
}
.social li{
	display: inline;
}
.social i{
	font-size: 450%;
	margin:1%;
	padding: 5% 5% 5% 4%;
	color: #c3d7df;
}
.social i:hover{
	color: #f5f5f5;
}

/*-- for mobile view --*/
@media screen and (max-width: 768px)
{
	h2{
		font-size: 150%;
	}
	h3{
		font-size: 125%;
	}
	p{
		font-size: 125%
	}
	header{
		position: absolute;
	}
	#logo{
		margin: 15px 0 20 -25px;
		background: url(../img/logo.svg) no-repeat left;
	}
	#menu-icon{
		display: inline-block;
	}
	nav ul,nav:active ul{
		display: none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
	}
	nav:hover ul{
		display: block;
	}
	nav li{
		text-align: center;
		width: 100%;
		padding: 10px 0;
	}
	.banner{
		padding-top: 86px;
	}
	.one-fourth{
		float: left;
		width: 100%
	}
	.one-fourth{
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	article{
		width:100%;
	}
	aside{
		width:100%;
	}
	.one-third{
		width: 100%;
	}
	.social i{
		font-size: 188%;
	}
}
